{% extends 'base.html.twig' %}

{% block title %}VOYGO Index
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<!-- Banner Starts Here -->
		<section class = "landing-wrapper">
			<h1>
				<span>Envie d'évasion ? </span>
				<span>C'est par ici !</span>
			</h1>
			<div class = "three-buttons">
				<div class = plane>
					<i class="fas fa-plane">
						Vols
					</i>
				</div>
				<div class = hotel-bed>
					<i class="fas fa-bed">
						Hotels
					</i>
				</div>
				<div class = car-rental>
					<i class="fas fa-car">
						Taxi
					</i>
				</div>
			</div>
		</section>
		<!-- Banner Ends Here -->
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				{% include 'index/_filter.html.twig' with {form: form} only %}
			</div>
			<div class="col-md-9">
				<div class="grid">
					{% for hotel in hotels %}
						{% include 'index/_card.html.twig' with {hotel: hotel} only %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
