<div class="wrapper">
    <div class="row align-items-center" style="height:100%;">
        <div class="col">
            <div class="container">
                <div class="card">
                    <div class="card-body" style="height:100%;">
                        {#
                        <div class="input-group mb-3 search">
                            <input type="text" class="pl-5 form-control" placeholder="Search">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                        #}

                        <div class="image-overlay d-sm-none"></div>
                        <div class="row align-items-center" style="height:100%;">
                            <div class="pl-5 col-sm-5">

                                <h1 class="">{{  hotel.titre }}</h1>
                                <h2 class=" mb-5">{{  hotel.price }}</h2>
                            </div>
                            <div class="col-sm-7 image d-none d-sm-block" style="height:100%;"></div>
                        </div>

                        <div class="info d-sm-block d-none">
                            <h5 class="mt-3">{{ hotel.hotel }} </h5>
                            <p class="d-none d-lg-block">
                                {{  hotel.description }}
                            </p>
                            <a href="#" class="btn btn-default bg-white text-dark d-lg-none">Réserver </a>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <script>
        $(document).ready(function() {
            $(".form-control").focusin(function() {
                $(".search").addClass("search-focus");
            });
            $(".form-control").focusout(function() {
                $(".search").removeClass("search-focus");
            });
        });
    </script>

</div>
